/*网站基础样式*/
@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{-webkit-text-size-adjust:none;width:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{width:100%;word-wrap:break-word;padding:5px 0px 10px 0px;text-align:left;font:13px/1.8 tahoma,arial,Verdana,\5B8B\4F53;color:#333;background:url(install/bg.jpg) no-repeat }
input,select,textarea,button{font-size:100%;outline:none;}
input,button,select{vertical-align:middle;}
*:focus{outline:none}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}
span{vertical-align: middle;}
a{color:#333;text-decoration:none;}
a:hover{color:#666;text-decoration:none;}
p{margin-bottom:10px;min-height:20px}

.el-form-item__label{text-align:left;font-size: 13px;}
.el-loading-mask {background-color: rgba(255,255,255,.2)}
    /*头部*/
    .top {
        width: 1020px;
        height: 50px;
        overflow: hidden;
        margin: 0px auto;
        padding-top: 10px;
        border-bottom: 1px solid #5daee5;
    }
.top .top-logo{width:280px;height:42px;float:left;background:url(install/logo.png) no-repeat left center;overflow:hidden;}
.top .top-link{height:30px;padding:12px 0px 0px 0px;overflow:hidden;}
.top .top-link ul{height:15px;float:right;overflow:hidden;}
.top .top-link ul li{float:left;padding-left:10px;padding-right:10px;border-left:1px solid #E8F5E3;margin-left:-1px;line-height:14px;}
.top .top-link ul li a{text-decoration:none;color:#ffffff;}

.validate-tips-error {
    font-size: 12px;
    color: #f96868!important
}


/*主体*/
.main {
    width: 1000px;
    margin: 14px auto 0px auto;
    padding: 10px;
    background-color: #fff;
    filter: alpha(opacity:95);
    opacity: 0.95;
    border-radius: 5px;
}
.main .step{width:100%;height:50px;cursor:default;background:url(install/step_bg.jpg) no-repeat left center}
    .main .step .setpbox {
        width: 200px;
        height: 50px;
        background: url(install/step_bg_1.jpg) no-repeat left center
    }
.main .content{color:#666;}

/*共用*/
.btn-box{margin-top:15px;border-top:1px solid #5daee5;padding:10px 6px;vertical-align:middle;}
.btn{width:80px;height:35px;background:#019CD5;color:#FFF;border:1px solid #fff;border-radius:5px;font-family:" 微软雅黑";font-size:14px;cursor:pointer;}
.btn:hover{background:#ff9751;}
.btn-box .fs-14{font-size:14px;color:#666}


.pr-title{width:100%;height:40px;line-height:40px;margin:8px auto;overflow:hidden; border-bottom:1px solid #5daee5;}
.pr-title h3{line-height:40px;overflow:hidden;display:block;font-size:13px;padding-top:1px;color:#fff;font-weight:bold;color:#333}
.help-block{color:#999}

/*安装协议*/
.pr-agreement {
    padding: 10px
}
.pr-agreement textarea{width:100%;padding:10px;height:550px;line-height:40px;color:#666;overflow-y:scroll;border:0px}

/*环境检测*/
.huanjing-box{width:100%;margin:0 auto;height:auto;}
.huanjing-box .tb{width:100%;background: #FFF;margin-top:15px;}
.huanjing-box .tb td{height:34px;line-height:34px;text-align:center}
.huanjing-box .tb th{height:34px;line-height:34px;text-align:center;background-color:#e7e8e9;}

/*参数设置界面*/
.set-box .set{width:100%;margin:0 auto;height:auto;padding:10px 100px 10px 20px;}


/*结果页*/
.success-box{width:100%;margin:0 auto;height:auto;}
.success-box font{display:block;padding-top:15px;font-size:14px;color:#666}
.install-msg{padding:10px 20px;color:#777;line-height:31px;font-size:14px;overflow:hidden;clear:both;}


