@model string
<div class="main">
    <table border=0 cellpadding=0 cellspacing=0 class="table table-bordered" id="tb_list">
        <thead>
            <tr>
                <td align="center" style="width:50px">选择<input type="checkbox" title="选择" class="ui-selectInvert hidden" data-custom-params="isReverse:false"></td>
                <td align="left">管理员</td>
                <td align="left">角色</td>
            </tr>
            <tr class="item list-template-item" id="tr_{uid}" name="{name}">
                <td align="center" style="width:40px"><input type="checkbox" id="id" name="id" value="{uid}" class="ck"></td>
                <td align="left"><span class="sp_uid" data-custom-params="url:'@Url.ActionUrl("GetFieldByIds", "Member")',textField:'username'">{uid}</span></td>
                <td align="center"><span class="sp_roleid" data-custom-params="url:'@Url.ActionUrl("GetFieldByIds", "Role")'">{role_id}</span></td>
            </tr>
    </table>
    <div class="submit-footerbar">
        <label class="control-label"></label>
        <div class="controls">
            <button type="button" class="btn btn-primary btn-sm ui-closeDialog">确定</button>
            <button type="button" class="btn btn-sm btn-default ui-closeDialog">关闭</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var objName = Request("objname");

    function LoadedInit()
    {
        $(".sp_uid").ConvertText();
        $(".sp_roleid").ConvertText();
        SetSelectedDisabled();
    }

    function LoadData() {
        var ajaxUrl = "@Url.ActionUrl("ListData")?_isload=1"
        $("#tb_list").ListBind({url:ajaxUrl,callBack: "LoadedInit" });
    }
    LoadData();
</script>
<script src="/Js/selectData.js" type="text/javascript"></script>