@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>HTTP-Internal Server Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="www.pageadmin.net" />
    <link rel="stylesheet" href="/Incs/bootstrap/css/bootstrap.min.css">
    <style>
        .container-fluid {
            padding-top: 10px
        }
    </style>
</head>
    <body>
        <div class="container-fluid">
            <div class="alert alert-warning alert-dismissable">
                <h4>HTTP 错误 500</h4>
                <p>当前页面运行出现http500错误，请联系技术人员处理，感谢您的支持!</p>
                <p>网站框架：PageAdmin网站管理系统</p>
            </div>
        </div>
</body>
</html> 