@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="www.pageadmin.net" />
    <link rel="stylesheet" href="/e/Incs/bootstrap/css/bootstrap.min.css">
    <script src="/Js/jquery.min.js" type="text/javascript"></script>
    <!--[if lte IE 9]>
    <script src="/Incs/bootstrap/js/respond.min.js"></script>
    <script src="/Incs/bootstrap/js/html5.js"></script>
    <![endif]-->
    <script src="/Incs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
    <body>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="false">
                &times;
            </button>

            404错误：找不到页面！
        </div>
    </body>
</html> 