@{
    Layout = null;
    string msg = Model;
    if (string.IsNullOrEmpty(msg))
    {
        msg = "对不起，您没有访问此页面的权限！";
    }
}@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="www.pageadmin.net" />
    <link rel="stylesheet" href="/Incs/bootstrap/css/bootstrap.min.css">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <!--[if lte IE 9]>
    <script src="/Incs/bootstrap/js/respond.min.js"></script>
    <script src="/Incs/bootstrap/js/html5.js"></script>
    <![endif]-->
    <script src="/Incs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
        .container-fluid{padding-top:10px}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="alert alert-warning">@msg
        </div>
        <div>
            <button type="button" class="btn btn-default" onclick="history.back()">返回上一页</button>
        </div>
    </div><script>
        $(function () {
            $("#myAlert").bind('closed.bs.alert', function () {
                //history.back();
            });
        });
    </script>
</body>
</html> 