<!DOCTYPE HTML>
<HTML>
<head>
    <title>PageAdmin网站管理系统安装程序</title>
    <meta name="Author" content="PageAdmin CMS" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Incs/elementUi/2.13/element-ui.css">
    <link rel="stylesheet" href="~/Incs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Css/Install.css" type="text/css">
    <script src="~/Incs/vue/2.6.11/vue.js" type="text/javascript"></script>
    <script src="~/Incs/elementUi/2.13/element-ui.js" type="text/javascript"></script>
    <script src="~/FrameUi/1.0/basic.js" type="text/javascript"></script>
    <script src="~/FrameUi/1.0/vueExtend.js" type="text/javascript"></script>
    <script src="~/FrameUi/1.0/validateForm.js" type="text/javascript"></script>
    <!--[if lte IE 9]>
    <script src="/Incs/bootstrap/js/respond.min.js"></script>
    <script src="/Incs/bootstrap/js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location;
        }
    </script>
</head>
<body>
    <!--[if lte IE 9]>
    <div class="alert alert-warning text-center">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>您好！</strong> 您使用的IE浏览器版本过低，为了获取更好的浏览体验，建议你使用谷歌(chrome)，火狐(Firefox)等标准浏览器，或升级到IE10+以上版本！
    </div>
     <![endif]-->
    <div class="top">
        <div class="top-logo"></div>
        <div class="top-link">
            <ul>
                <li><a href="http://www.pageadmin.net" target="_blank">官方网站</a></li>
                <li><a href="http://bbs.pageadmin.net" target="_blank">技术论坛</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="step">
            <div class="setpbox" id="progressBar"></div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</HTML>
