@{
    Layout = "_Layout.cshtml";
}
<div class="success-box">
    <font>
       系统已经禁止运行安装，如需重新安装，请按以下步骤操作：<br />
       1、打开根目录下的Web.config文件，找到appSettings配置节中的InstallEnabled节点，将Value值改为true并保存。<br />
       2、然后重新打开安装界面便可进行安装。
    </font><br />
</div>
<script type="text/javascript">
    $(".setpbox").css("width", "0px");
    function Enter() {
        var url = location.href.toLowerCase();
        location.href = url.replace(/install/g, "login");
    }
</script>

