@{
    Layout = "_Layout.cshtml";
}
<div class="pr-title"><h3>阅读使用协议</h3></div>
<div class="pr-agreement">
    <textarea>
        感谢您使用PageAdmin网站管理系统(以下简称PageAdmin)，PageAdmin是一款基于.NET开发，采用MVC架构，集成新闻、产品、下载、视频、图片等内容管理、以及栏目、会员、自定义表、插件管理等功能于一体的高扩展性的网站内容管理系统。
        中山市华拓信息技术有限公司为PageAdmin产品的开发商，依法独立拥有PageAdmin产品著作权。 官方网站为 www.pageadmin.net。无论个人、企业或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用PageAdmin软件。
        本授权协议适用于PageAdmin软件的所有版本，PageAdmin官方拥有对本授权协议的最终解释权。
        一、协议许可的权利
        1. 您可以在完全遵守本最终用户授权协议的基础上，将PageAdmin应用于个人网站上，而不必支付系统版权授权费用。
        2. 您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。
        3. 获得商业授权之后，您可以将PageAdmin应用于商业用途，同时拥有特定技术支持期限、技术支持方式和技术支持内容。
        二、协议规定的约束和限制
        1. 未获商业授权之前，不得将PageAdmin用于商业用途（包括企业网站、政府、金融、教育机构、学校、社会团体等非个人网站）。
        2. 未获商业授权之前，请保留PageAdmin所有版权标识，不能隐藏，清除或修改。
        3. 未经书面许可，不得对本系统或与之关联的商业授权进行出租、出售、抵押或发放授权号。
        4. 未经书面许可，禁止在PageAdmin的整体或任何部分基础上以发展任何派生版本、修改版权或第三方版本用于重新分发。
        三、有限担保和免责声明
        1. 本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。
        2. 用户出于自愿而使用本系统，您必须了解使用本系统的风险，在未获取商业授权之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本系统而产生问题的相关责任。
        3. 电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始安装PageAdmin，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，必须遵守相关条款的约束和限制，协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止使用，责令停止损害，并保留追究相关责任的权力。
    </textarea>
</div>
<div class="btn-box" id="main">
     <el-checkbox v-model="agree">我已经阅读并同意此协议</el-checkbox>  <button class="el-button el-button--primary" v-on:click="next">下一步</button>
</div>
<script type="text/javascript">
     var nextUrl="@Url.ActionUrl("Step2")";
      var vue= new Vue({
          el: "#main",
          data: { agree: false },
            methods: {
                next: function () {
                    if (this.agree) {
                        location.href = nextUrl
                    }
                    else {
                        this.$message.warning("请阅读并同意使用协议！");
                  }

              },
          },
    });

</script>