html{-webkit-text-size-adjust:none;width:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{width:100%;height:100%;background-repeat:repeat-x;word-wrap:break-word;text-align:left;font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;line-height:1.2;color:#666}
/*input,select,textarea,button{font-size:100%;border-radius:0px!important;}*/
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
li{list-style:none;*margin-left:-1px}

.main {clear: both;padding:15px;padding-bottom:60px}
.breadcrumb-box {clear: both;margin:10px 0px 40px 0px;}
.divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
a{color:#333;text-decoration:none}
a:hover{color:#666}
.text-danger {color: #a94442;}
.xuhao .el-input-group__append,.xuhao .el-input-group__prepend {padding: 0px 10px;}
.thumbnail{max-width:100px;max-height:100px}
/*重写elementui样式*/
.el-loading-mask {
    background-color: rgba(255,255,255,.5)
}
.el-dropdown-menu__item a{display:block;width:100%;color:#333;text-decoration:none}
.el-dropdown-menu__item a:hover{display:block;width:100%;color:#666}

.el-table__body, .el-table__footer, .el-table__header {border-collapse:separate}
.el-table__header th{background-color:#eee;}
.el-table--border, .el-table--group {border: 1px solid #ddd;border-right: 1px solid #ddd;}
.el-table td, .el-table th.is-leaf {border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}

.el-dialog__iframe .el-dialog__body{padding:0px 0px;}
.menu-bar-box {margin-bottom: 20px}
.menu-bar-box table {width:100%}
.el-form-item {padding:0px 0px 00px 10px}
.el-pagination,.ui-pagination{margin-top:20px}
.ui-pagination .el-input__inner{width:150px}

.el-form-item__content .edui-default{line-height:20px;}

.el-table__row .el-input-group__append, .el-table__row .el-input-group__prepend, .el-table__row .el-input__inner{
    padding: 0 10px;
}
a .fa {color:#666}
a:hover .fa {color: #999}

.el-upload-list--text .el-upload-list__item{max-width:500px}
/*表单和数据列表相关*/
.form-box, .table-list-box {
    margin: 20px 0px;
}
.el-form.medium .el-form-item{width:70%}
.el-form.small  .el-form-item{width:60%}
.el-form.mini  .el-form-item{width:50%}
.help-block {display: block;color: #999;line-height:30px;}

.footer-submit-bar { position: fixed; z-index: 1000;left: 0px; bottom: 0px;background-color: #F8F8F8;border-top: 1px solid #eeeeee;width: 100%;padding: 10px 0px 10px 20px}
.footer-submit-bar .el-button{padding:6px 20px;margin-left:5px;border-radius:2px;line-height:1.4;font-size:14px}


/*左侧导航菜单*/
.leftNav {
    background-color: #eeeeee;
    padding: 0px 0px 0px 0px;
    width: 180px
}
.leftNav .leftNav-body{margin-bottom:50px;}
.leftNav ul li{height:35px;line-height:35px;padding:0px 10px;border-bottom:1px solid #dddddd;overflow:hidden}
.leftNav ul li {cursor: pointer;}
.leftNav ul li .fa-angle-down {font-size:12px;transition:transform 0.2s ease-in-out;}
.leftNav ul li:hover,.leftNav ul li.current{background-color:#fff }
.leftNav ul li:hover .fa-angle-down,.leftNav ul li.current .fa-angle-down{transform:rotate(-90deg);}

/*table列表样式*/
.table{width:100%;margin:20px 0px}
.table-condensed,.table-bordered{border:1px solid #ddd}
.table thead tr td{border-bottom:0px;background:#eee;}
.table tbody tr:hover > td {
    background-color: #F5F7FA
}
.table td{white-space:normal;word-break: break-all;padding:15px 5px!important;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.table-condensed td {padding:12px 2px!important;}
.table td.leftNav{padding:0px}

.table .item:hover table td{background-color:#fff}
.table .item .item-detail table{margin-bottom:0px}
.table .item .item-detail table td{border-width:0px;padding:10px!important;}

.tb-head{margin:0px 0px 10px 0px;width:100%;background-color:#fff} /*顶部区域，如搜索*/

.tb-footer{margin-top:5px;width:100%} /*底部区域，如设置*/
.tb-footer td{height:30px;line-height:30px;padding:2px}

.lb_norecods{display:block;height:30px;line-height:30px;padding:2px;} /*无记录span提示*/




/*子框架页面样式*/
._frame_layout{
    height: 100%;
}
._frame_layout body{
    position: relative;
    height: 100%;
}
._frame_layout_container {
    width:100%;
    height: 100%;
}

._frame_layout_left_area {
    position:fixed;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 100%;
    background-color: #EAEDF1;
    overflow: hidden;
}
._frame_layout_middel_btn {
    position: absolute;
    width:20px;
    top:40%;
    left: 170px;
    z-index: 2;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    background-color: #fff;
    border: 0;
    cursor: pointer
}

._frame_layout_middel_btn .fa {
        font-size: 15px;
    }
    ._frame_layout ._frame_layout_middel_btn_shut {
        background-color: #EAEDF1;
        border-radius: 0px 10px 10px 0px;
        left: 0px
    }
    ._frame_layout ._frame_layout_middel_btn_shut .fa {
        transform: rotate(180deg);
    }

._frame_layout_right_area{
    padding: 10px 10px 10px 190px;
    overflow-y: scroll;
}
/*//左侧关闭状态*/
._frame_layout_container_shut ._frame_layout_left_area {
    width:0px;
}
._frame_layout_container_shut ._frame_layout_middel_btn {
    left: 0px;
    transform: rotate(180deg);
    background-color: #EAEDF1;
}
._frame_layout_container_shut ._frame_layout_right_area {
    left: 0px;
    padding-left:10px;
}
._frame_layout_menu {width:190px;height:100%;overflow:auto}
    ._frame_layout_menu label {
        height: 50px;
        line-height: 50px;
        background: #D9DEE4;
        padding-left: 15px;
        display: block;
        margin:0px;
    }
    ._frame_layout_menu div ._frame_layout_menu_sort {
        height: 35px;
        line-height: 35px;
        padding-left: 30px;
        display: block;
        position: relative;
        cursor: pointer;
    }

    ._frame_layout_menu div ._frame_layout_menu_sort .fa {
        font-size: 14px;
    }
    ._frame_layout_menu div ._frame_layout_menu_sort b.caret {
        position: absolute;
        left: 15px;
        top: 15px;
        border-width:4px;
    }

    ._frame_layout_menu div ._menu_sort_shut_ b.caret {
        transform: rotate(-90deg);
    }
    ._frame_layout_menu div ul {
        transition: all .1s ease;
    }
    ._frame_layout_menu div ._menu_sort_shut_  + ul{display:none}

    ._frame_layout_menu div ul li {
        line-height: 35px;
        padding-left: 30px;
    }


._frame_layout_menu div ul li:hover, ._frame_layout_menu div ._frame_layout_menu_sort:hover{
           color: #999
        }
._frame_layout_menu div ul li._menu_current {
    background-color: #fff
}
._frame_layout_menu div ul li a {
    height: 35px;
    line-height: 35px;
    display: block;
}



/*插件管理*/
span.is-0,span.is-{background:url(../images/0_1.png) no-repeat left top;width:15px;height:15px;display:inline-block}
span.is-1{background:url(../images/0_1.png) no-repeat left bottom;width:15px;height:15px;display:inline-block}
.breadcrumb {padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: #f5f5f5;border-radius: 4px;}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*按钮隐藏*/
.tree_table .el-table__expand-icon--expanded, .tree_table .el-table__placeholder {
    display: none !important;
}


@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
	/*兼容IE11*/
    .el-cascader__tags .el-tag > span {flex:none;-ms-flex:none;}
}


/*预览隐藏显示*/
.fa-eye-hover .fa-eye{opacity:0;transition:opacity 0.3s ease-in;}
.fa-eye-hover:hover .fa-eye{opacity:1;}
