<div class="_layout_frame_menu">
    <label>我的账户</label>
    <div>
        <span class="_layout_frame_menu_sort">账户管理</span>
        <ul>
            <li>
                <a href="@Url.ActionUrl("Security")">账户安全</a>
            </li>
            <li>
                <a href="@Url.ActionUrl("UserInfo")" id="MyLoginsUserInfo">基本资料</a>
            </li>
            <li>
                <a href="@Url.ActionUrl("LoginLog")" id="MyLoginLoginLog">登录日志</a>
            </li>
        </ul>
    </div>
</div>