@{
    string guid = Html.Guid();
    var mustFillInformation = Request.QueryString["MustFillInformation"];
    CurrentUser currentUser =ViewBag.CurrentUser;
}
<div class="main" id="main">
    <div class="breadcrumb-box">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><i class="fa fa-home fa-fw"></i><a href="javascript:void(0)" onclick="location.href=location.href">基本资料</a></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <el-form ref="form" label-width="130px" label-position="left">
        @{
            string beforeSubmitJs = "";
            var data = new ViewDataDictionary();
            data.Add("from", PageAdmin.Common.FromEnum.Member);
            data.Add("guid", guid);
            data.Add("currentUser", currentUser);
            data.Add("detailId", currentUser.Uid);
            data.Add("fieldPrefix", "formData");
            data.Add("i", 0);
            IEnumerable<dynamic> FieldData = ViewBag.FieldData;
            int i = 0;
            if (FieldData != null)
            {
                foreach (var row in FieldData)
                {
                    data["i"] = i;
                    beforeSubmitJs += row.BeforeSubmitJs;
                    Html.RenderPartial("~/Areas/E/Views/CustomForm/FormPartial.cshtml", (object)row, data);
                    i++;
                }
            }

        }
        <el-form-item label="">
            <el-button size="small" type="primary" v-on:click="postSubmit">提交保存</el-button>
        </el-form-item>
    </el-form>
</div>
<script type="text/javascript">
    //vue实例化
    var formData =@Html.RawModel((string)ViewBag.MemberData);
    formData.MustFillInformation = "@mustFillInformation";
    formData.Guid = "@guid";
    formData.IsAdmin = 0;
    var vue = new Vue({
        el: "#main",
        data: {
            formData: formData
        },
        methods: {
            postSubmit: function () {
                var validated = this.validateForm({ beforeSubmit: "BeforeSubmit()"});//jquery表单验证
                if (validated) {
                    this.submit({ url: "@Url.ActionUrl()", data: formData, success: "PostBack()" });
                }
            }
        }
    });
    function BeforeSubmit() {
        @Html.Raw(beforeSubmitJs)
        return true;
    }
    function PostBack() {
        if (formData.MustFillInformation == "1") {
            closeSelf();
        }
    }
</script>