<div class="main" id="main">
    <ui-file-upload action="@Url.ActionUrl("Index","UploadApi")" btn-txt="选择要上传的文件" v-model="file" return-type="string" :limit="0" :max-size="0" :file-list='[]' accept="*"
                    :data="{savePath:path,fileType:'file',deleteRepeat:0}"
                    v-validate="{data:file,dataType:'*',nullMsg:'请选择上传文件'}">
        <i class="el-icon-plus"></i>

    </ui-file-upload>
    <div class="footer-submit-bar">
        <el-button type="primary" v-on:click="confirm">确定</el-button>
        <el-button onclick="closeSelf()">关闭</el-button>
    </div>
</div>
<script>
    var formData = { file:[], path: "" };
    formData.path = "@Request.QueryString["path"]" + parent.vue.path.join("/");
    var vue= new Vue({
        el: "#main",
        data: formData,
        methods: {
            confirm: function () {
                parent.loadData();
                closeSelf();
            },
        },
    });
</script>