@{
    Layout =null;
}
<!DOCTYPE html>
<html>
<head>
    <title>用户注册协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="www.pageadmin.net" />
    <meta name="Copyright" content="http://www.pageadmin.net" />
    <link rel="stylesheet" href="/Areas/Member/Css/member.css" type="text/css">
    <!--[if lte IE 9]>
    <script src="/Incs/bootstrap/js/respond.min.js"></script>
    <script src="/Incs/bootstrap/js/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        .agreement {
            padding: 20px;
            margin: 20px 0px;
            font-size:14px;
            line-height:200%;
        }

            .agreement p {
                margin-bottom:18px
            }
    </style>
</head>
<body>
    <div class="reg-agreement">
        <div class="container clearfix">
            <div class="agreement">
                @Html.Raw(Model)
            </div>
        </div>
    </div>
</body>
</html>

