<div class="main no-padding no-border" id="main">
    <el-form ref="form" label-width="130px" label-position="top">
        <el-form-item label="">
            <el-cascader-panel v-model="setValue" :options="@Html.GetOptionsJson("pa_member_group","name","","Rank asc")"></el-cascader-panel>
            <span class="help-block validate-tips-box">请选择要转移的目标用户组！</span>
        </el-form-item>

    </el-form>
    <div class="footer-submit-bar" style="padding-left:100px">
        <el-button type="primary" v-on:click="postSubmit">提交</el-button>
        <el-button onclick="closeSelf()">关闭</el-button>
    </div>
</div>
<script type="text/javascript">
    var ids = request("ids");
    var formData = { setValue: 0, setField: "memberGroupId", ids: ids};
    var vue = new Vue({
        el: "#main",
        data: formData,
        methods: {
            postSubmit: function () {
                if (formData.setValue == undefined || formData.setValue == 0 || formData.setValue == "") {
                    this.$alert('请选择要设置的用户组!', '提示', {
                        confirmButtonText: '确定',
                        type: 'warning'
                    })
                    return false;
                }
                this.submit({
                    url: "@Url.ActionUrl("SetField", "CommonMethod")?table=pa_member", data: formData, success: function () {
                        parent.loadData();
                        closeSelf()
                    }
                });
            },
        }
    })
</script>



