.hidden{display:none!important;}
.ui-selectInvert {}
.ui-closeDialog .ui-dialog {cursor: pointer}
.ui-deleteSingle {}
.ui-deleteMultiple {}
.ui-updateSingle {}
.ui-updateMultiple {}
.ui-setMultiple {}
.ui-uploadPanel {}
.ui-setName {
}
.ui-keyword {
}
.ui-queryString {
}
.ui-queryString-search {
}
.ui-pagePanel {
}
.ui-setName {
}
.ui-show-hide {
}
.ui_readonly {
}
.ui_add_readonly {
}
.ui_edit_readonly {
}
.ui-pagePost {
}
.ui-removeSelectedOptions {
}
.ui-convertMultipleSelect {
}
.ui-convertTextById {
}
.ui-fillSelect {
}
.ui-btn-sendCode {}
.ui-listXuhao {
    display: inline-block;
    width: 50px
}

.placeholder-color {
    color: #999;
}

._list_no_records {
    line-height:30px;
    color:#999
}
._list_no_records .glyphicon-info-sign{font-size:14px;float:left;margin-right:5px;line-height:30px;}

.ui-passwordEye{display:inline-block}
.ui-password-eye-icon{display: inline-block;font-size:11px;cursor: pointer;color: #999;margin-left:-30px}

.upload-attachments-list{clear:both;text-align:left;overflow:hidden;}
.upload-attachments-list dd{float:left;width:80px;height:80px;margin-right:10px;margin-bottom:10px;position:relative;border:1px solid #cccccc}
.upload-attachments-list dd img{max-width:100%;max-height:100%;filter:alpha(Opacity=100);opacity:1}
.upload-attachments-list dd:hover img{filter:alpha(Opacity=60);opacity: 0.6}
.upload-attachments-list dd .lb-control-box{position:absolute;display:block;text-align:right;cursor:pointer;top:auto;left:0px;bottom:0px;height:20px;width:100%;padding-right:5px;color: #efefef;background-color: rgba(0, 0, 0, 0.4);}
.upload-attachments-list dd .lb-control-box .btn-control{font-size:14px;line-height:20px;color:#efefef;vertical-align:baseline;}

.upload-images-list dd .lb-control-direction{float:left;padding:0px 5px;display:none}
.upload-images-list dd .lb-control-direction i{font-size:20px;color:#fff;}
.upload-attachments-list dd .lb-control-box:hover .lb-control-direction{display:block}

/*.upload-attachments-list dd:hover .lb-delete-box{display:block}*/
.upload-attachments-list .btn-upload {
    text-align: center;
} 
.upload-attachments-list .btn-upload i{font-size:20px;line-height:80px;color:#cccccc}
.upload-attachments-list .btn-upload:hover i{font-size:30px;color:#999}

.upload-attachments-file-list {border:1px solid #cccccc;border-radius:2px}
.upload-attachments-file-list dd{float:none;width:auto;height:auto;padding:0px 10px;line-height:30px;margin-right:0px;margin-bottom:0px;border-width:0px}
.upload-attachments-file-list dd .lb-control-box{position:static;display:inline;margin-left:5px;font-size:12px;cursor:pointer;background-color:inherit}
.upload-attachments-file-list dd .lb-control-box .btn-control{color:#999999}

.upload-attachments-file-list dd.btn-upload{display:block;height:auto;width:auto;text-align:left;line-height:30px;border-width:0px;} 
.upload-attachments-file-list .btn-upload i{font-size:16px;line-height:30px;width:30px;text-align:center;color:#999999;}
.upload-attachments-file-list dd:hover {background-color:#efefef}
.upload-attachments-file-list dd:hover .lb-delete-box{color:#333}
.upload-attachments-file-list .btn-upload:hover i {font-size:18px;line-height:30px;color:#666666}

/*验证插件默认css*/
.validate-all-tips-box {
    font-size: 12px;
    color: #f96868;
    line-height: 25px;
    height:25px;
}
    /*表单顶部或底部验证信息容器样式*/
    .validate-all-tips-box li {
        color: #f96868;
    }

.validate-tips-error {
    font-size: 12px;
    color: #f96868
}
/*表单后面或前面提示span标签错误提示信息附加的样式*/

.validate-error:focus { /*表单验证出错后附加的css样式*/
    /*box-shadow:0px 0px 4px #f96868 !important*/
}
