<?xml version="1.0" encoding="utf-8"?>
<configuration remark="accessKey管理表" deleteProtect="1" canExpand="">
  <accessKeyId remark="" valueType="string" valueLength="18" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <accessKeySecret remark="" valueType="string" valueLength="32" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <authorizations remark="" valueType="string" valueLength="1000" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
</configuration>