<?xml version="1.0" encoding="utf-8"?>
<configuration remark="后台菜单表" canExpand="" deleteProtect="1">
  <parentId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <icon remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <level remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <nameSpace remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <area remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <controller remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <action remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <isFinal remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <isExpand remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <state remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <isSys remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <target remark="" valueType="string" valueLength="20" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <pluginName remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <zdyUrl remark="" valueType="string" valueLength="150" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <sysNode remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <xuhao remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <viewType remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
</configuration>