<?xml version="1.0" encoding="utf-8"?>
<configuration remark="分类表" canExpand="" deleteProtect="1">
  
    <name remark="" valueType="string" valueLength="-1"  canAdd="1" canEdit="1"    searchType="fuzzy" listItem="1" orderItem="" />
    <remark remark="" valueType="string" valueLength="-1"  canAdd="1" canEdit="1"    searchType="fuzzy" listItem="1" orderItem="" />
    <uid remark="" valueType="int" valueLength="-1"  canAdd="1" canEdit="1"    searchType="" listItem="1" orderItem="" />
    <deleteProtect remark="" valueType="byte" valueLength="-1"  canAdd="1" canEdit="1"    searchType="" listItem="1" orderItem="" />
    <thedate remark="" valueType="datetime" valueLength="-1"  canAdd="1" canEdit="1"    searchType="" listItem="1" orderItem="" />
  
</configuration>
