<?xml version="1.0" encoding="utf-8"?>
<configuration remark="栏目表" deleteProtect="1" canExpand="1">
  <parentId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <siteId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="0" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <columnType remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <showName remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <level remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <path remark="" valueType="string" valueLength="255" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <tableId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <httpcacheSolutionId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <target remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <show remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <zdyUrl remark="" valueType="string" valueLength="150" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <xuhao remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <isFinal remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
</configuration>