<?xml version="1.0" encoding="utf-8"?>
<configuration remark="会员部门设置" canExpand="1" deleteProtect="1">
  <parentId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <level remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <isFinal remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <xuhao remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>