<?xml version="1.0" encoding="utf-8"?>
<configuration remark="字段表" canExpand="" deleteProtect="1">
  <tableName remark="" valueType="string" valueLength="50" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <sysField remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <fieldType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <valueType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <fieldTip remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <defaultValue remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <valueLength remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <decimalAccuracy remark="" valueType="string" valueLength="10" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <items remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <watermark remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <thumbnail remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <thumbnailWidth remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <thumbnailHeight remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <rename remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <uploadExt remark="" valueType="string" valueLength="200" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <uploadMaxsize remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <isMultipleSelect remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <mustItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <adminListUpdate remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberListUpdate remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <anonymousListUpdate remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <adminCanAdd remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberCanAdd remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <anonymousCanAdd remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <adminCanEdit remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberCanEdit remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <anonymousCanEdit remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberGroupIds remark="" valueType="string" valueLength="500" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <roleIds remark="" valueType="string" valueLength="500" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <noPermissionContent remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <onlyItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <collectionItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <orderItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <searchType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <htmlencode remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <zdyContent remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <additionalContent remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <dataType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <maxNum remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <editorStyle remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <editorWidth remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <editorHeight remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <inputParams remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <beforeSubmitJs remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <tips remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <adminListItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberListItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <listWords remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <listWidth remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <datasourceOpen remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <datasourceTable remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <btText remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <winWidth remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <winHeight remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <orderby remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <pagesize remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <show remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <deleteProtect remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <xuhao remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <ListItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <DetailItem remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <subTableType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <zdyCondition remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <valueField remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <textField remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <textFieldName remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <selectDataType remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <isMultiLevelTable remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <onlySelectFinal remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
</configuration>