<?xml version="1.0" encoding="utf-8"?>
<configuration remark="http缓存方案表" deleteProtect="1" canExpand="">
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
  <columnCacheMinutes remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <detailCacheMinutes remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <cacheMaxPage remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <nocacheUrlParams remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <nocacheUrlKeywords remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>