<?xml version="1.0" encoding="utf-8"?>
<configuration remark="信息表" deleteProtect="1" canExpand="">
  <siteId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <pagesize remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <orderby remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <uid remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <deleteProtect remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <xuhao remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <thedate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <showMenu remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <templateDetail remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <guestSubmit remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <verificationCode remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="0" />
  <SubmitDefaultState remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="0" orderItem="0" />
</configuration>