<?xml version="1.0" encoding="utf-8"?>
<configuration remark="会员菜单项目" deleteProtect="1" canExpand="">
  <menuId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="1" orderItem="" />
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <namespace remark="" valueType="string" valueLength="255" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <controller remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <action remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <method remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <isDefault remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
</configuration>