<?xml version="1.0" encoding="utf-8"?>
<configuration remark="会员组权限" deleteProtect="1" canExpand="">
  <memberGroupId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="" orderItem="" />
  <menuIds remark="" valueType="string" valueLength="4000" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
  <menuItemIds remark="" valueType="string" valueLength="4000" canAdd="1" canEdit="1" searchType="" listItem="" orderItem="" />
</configuration>