<?xml version="1.0" encoding="utf-8"?>
<configuration remark="会员表" deleteProtect="1" canExpand="1">
  <username remark="" valueType="string" valueLength="50" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <password remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <memberGroupId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
  <departmentId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <regDate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="" searchType="range" listItem="1" orderItem="" />
  <lastDate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="" searchType="range" listItem="1" orderItem="" />
  <regIp remark="" valueType="string" valueLength="20" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <lastIp remark="" valueType="string" valueLength="20" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <logins remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <state remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="1" orderItem="" />
  <avatar remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <mobile remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <mobileState remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <email remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <emailState remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
</configuration>