<?xml version="1.0" encoding="utf-8"?>
<configuration remark="会员组" deleteProtect="1" canExpand="1">
  <name remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <canReg remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <rank remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <isDefault remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>