<?xml version="1.0" encoding="utf-8"?>
<configuration remark="用户锁定记录表" deleteProtect="1" canExpand="">
  <username remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <ip remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <lockType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
  <thedate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="1" searchType="range" listItem="1" orderItem="" />
  <expireDate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>