<?xml version="1.0" encoding="utf-8"?>
<configuration remark="角色权限表" deleteProtect="1" canExpand="">
  <roleId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="1" orderItem="" />
  <menuIds remark="" valueType="string" valueLength="4000" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <menuItemIds remark="" valueType="string" valueLength="4000" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>