<?xml version="1.0" encoding="utf-8"?>
<configuration remark="管理员角色" canExpand="" deleteProtect="1">
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="0" searchType="fuzzy" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="100" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <isSuperadmin remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
</configuration>