<?xml version="1.0" encoding="utf-8"?>
<configuration remark="附属表" deleteProtect="1" canExpand="">
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <parentTable remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <parentField remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <fieldType remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <maxNum remark="" valueType="short" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <uid remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="" searchType="" listItem="1" orderItem="" />
  <thedate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="1" searchType="range" listItem="1" orderItem="" />
  <state remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="1" orderItem="" />
  <subTableType remark="" valueType="string" valueLength="20" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
</configuration>