<?xml version="1.0" encoding="utf-8"?>
<configuration remark="站点表" deleteProtect="1" canExpand="1">
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <remark remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <directory remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <domain remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <templateDirectory remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <isDefault remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="" searchType="precise" listItem="1" orderItem="" />
  <compression remark="" valueType="byte" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="" />
</configuration>