<?xml version="1.0" encoding="utf-8"?>
<configuration remark="标签表" deleteProtect="1" canExpand="1">
  <name remark="" valueType="string" valueLength="50" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="0" />
  <tableId remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="0" />
  <count remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="precise" listItem="1" orderItem="0" />
</configuration>