<?xml version="1.0" encoding="utf-8"?>
<configuration remark="网站日志" deleteProtect="1" canExpand="">
  <logType remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="0" searchType="precise" listItem="1" orderItem="" />
  <uid remark="" valueType="int" valueLength="-1" canAdd="1" canEdit="1" searchType="" listItem="1" orderItem="" />
  <username remark="" valueType="string" valueLength="50" canAdd="1" canEdit="0" searchType="fuzzy" listItem="1" orderItem="" />
  <message remark="" valueType="string" valueLength="200" canAdd="1" canEdit="0" searchType="fuzzy" listItem="1" orderItem="" />
  <url remark="" valueType="string" valueLength="200" canAdd="1" canEdit="" searchType="fuzzy" listItem="1" orderItem="" />
  <ip remark="" valueType="string" valueLength="20" canAdd="1" canEdit="1" searchType="fuzzy" listItem="1" orderItem="" />
  <thedate remark="" valueType="datetime" valueLength="-1" canAdd="1" canEdit="" searchType="range" listItem="1" orderItem="" />
</configuration>