@{
    string templateDirectory = ViewBag.TemplateDirectory;
}
<div class="footer padding-top-30">
    <div class="container">
        <div class="link text-center text-lg-right">
            <a href="@Html.ColumnUrl(207)">关于我</a>
            <a href="@Html.ColumnUrl(208)">给我留言</a>
        </div>
        <div class="text-center text-lg-right padding-bottom-10">
            My Blog， 互联网的运营笔记！
        </div>
        <div class="copyright text-center text-white">
            PageAdmin <a href="http://www.pageadmin.net" target="_blank" class="text-white cms"> CMS</a>   粤ICP备07048220号
        </div>
        <div class="text-center paadmin">
            Powered by <a href="http://www.pageadmin.net" style="color:#666;"><b>PageAdmin CMS</b></a>
        </div>
    </div>
</div>
@Html.LoadScript("js/wow.min.js")
<script type="text/javascript">
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        new WOW().init();
    };
</script>