@{
    string content = Html.ColumnContentData().Content; //获取栏目的自定义内容
}
<div class="container mycontainer padding-top-20 clearFix">
    <div class="rightmain-box float-left padding-right-30">
        @Html.Partial("BreadcrumbPartial")
        <div class="info-content">
            @Html.Raw(content)
        </div>
    </div>
    <div class="leftnav-box float-left">
        @Html.Partial("leftNavPartial")
    </div>
</div>
