<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <pluginMarketUrl></pluginMarketUrl>
  <TemplateMarketUrl></TemplateMarketUrl>
  <cmsInformationApi>http://client.pageadmin.net/P/PABusinessAdmin/cmsInformationApi</cmsInformationApi>
  <cmsNoticeApi>http://client.pageadmin.net/P/PABusinessAdmin/CmsNoticeApi</cmsNoticeApi>
  <cmsUpgradeApi>http://client.pageadmin.net/P/PABusinessAdmin/CmsUpgradeApi</cmsUpgradeApi>
  <pluginUpgradeApi>http://client.pageadmin.net/P/PABusinessAdmin/PluginUpgradeApi</pluginUpgradeApi>
  <pluginInstallApi>http://client.pageadmin.net/P/PABusinessAdmin/PluginInstallApi</pluginInstallApi>
  <TemplateInstallApi>http://client.pageadmin.net/P/PABusinessAdmin/TemplateInstallApi</TemplateInstallApi>
</configuration>