<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <imageExt>.gif,.jpg,.jpeg,.png</imageExt>
  <imageMaxSize>9000</imageMaxSize>
  <imageReName>1</imageReName>
  <imageWaterMark>1</imageWaterMark>
  <flashExt>swf</flashExt>
  <flashMaxSize>1024</flashMaxSize>
  <flashReName>1</flashReName>
  <mediaExt>.mp4</mediaExt>
  <mediaMaxSize>1000</mediaMaxSize>
  <mediaReName>1</mediaReName>
  <fileExt>.doc,.docx,.xls,.rar,.zip</fileExt>
  <fileMaxSize>10000</fileMaxSize>
  <fileReName>1</fileReName>
</configuration>