<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <name>ftp</name>
  <open>false</open>
  <ftpURL></ftpURL>
  <ftpServer></ftpServer>
  <username></username>
  <password></password>
  <usePassive></usePassive>
  <rootPath>wwwroot</rootPath>
  <timeout>0</timeout>
  <removeLocalattach>1</removeLocalattach>
</configuration>