<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <open>1</open>
  <memberGroupIds>
  </memberGroupIds>
  <departmentIds>
  </departmentIds>
  <loginType>username,email,mobile</loginType>
  <verificationCode>1</verificationCode>
  <sendEmail>1</sendEmail>
  <sendSms>1</sendSms>
  <emailTitle>您好，你刚才通过${username}登陆了PageAdmin网站管理系统。</emailTitle>
  <emailContent>您好，你刚才通过${username}登陆了PageAdmin网站管理系统。
&lt;br&gt;
如需查看详情登录信息，请到PageAdmin网站会员中心查看登录日志。</emailContent>
  <smsTemplateCode>SMS_112900001</smsTemplateCode>
</configuration>