<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <open>1</open>
  <findByEmail>1</findByEmail>
  <findByMobile>1</findByMobile>
  <emailTitle>
  </emailTitle>
  <emailContent>
  </emailContent>
  <smsTemplateCode>
  </smsTemplateCode>
  <verificationCode>1</verificationCode>
</configuration>