<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <accessKeyId>
  </accessKeyId>
  <AccessKeySecret>
  </AccessKeySecret>
  <secretKey>ae9ee014</secretKey>
  <adminPath>admin</adminPath>
  <memberDomain>
  </memberDomain>
  <debugMode>false</debugMode>
  <timestampInterval>5</timestampInterval>
  <loginedExpireMinutes>60</loginedExpireMinutes>
  <multipleLogin>false</multipleLogin>
  <checkLoginIP>true</checkLoginIP>
  <loginProtect>admin</loginProtect>
  <loginLockType>lockip</loginLockType>
  <loginLockErrorTimes>5</loginLockErrorTimes>
  <loginLockMinutes>30</loginLockMinutes>
  <adminAuthenticationCode>
  </adminAuthenticationCode>
  <adminIPLimit>
  </adminIPLimit>
  <exceptionHandled>false</exceptionHandled>
  <exceptionSaveLog>false</exceptionSaveLog>
  <logExpire>60</logExpire>
  <tableCacheMinutes>60</tableCacheMinutes>
  <xmlCacheMinutes>60</xmlCacheMinutes>
  <autoTaskInterval>3600</autoTaskInterval>
</configuration>