<div class="main" id="main">
    <table border=0 cellpadding=0 cellspacing=0 class="tb-head form-inline form-group-sm">
        <tr>
            <td align="right">
                <el-select v-model="queryData.searchField" size="small" placeholder="请选择">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
                <el-input style="width:225px;" size="small" v-model="queryData.searchKeyword" placeholder="请输入内容"></el-input>
                <el-button size="small" v-on:click="loadData()">搜索</el-button>
            </td>
        </tr>
    </table>
    <div class="table-list-box">
        <el-table ref="multipleTable" :data="dataList" tooltip-effect="dark" highlight-current-row border>
            <el-table-column width="50" label="选择" align="center">
                <template slot-scope="scope">
                    <el-radio :label="scope.row.Id" v-model="id" style="width:14px;">&nbsp;</el-radio>
                </template>
            </el-table-column>
            <el-table-column label="站点名称" prop="Name" align="center"></el-table-column>
            <el-table-column label="目录" prop="Directory" align="center"></el-table-column>
            <el-table-column label="绑定域名" prop="Domain" align="center"></el-table-column>
        </el-table>
        <ui-page-panel v-model="pageInfo" v-if="pageInfo.RecordCount>0" v-on:change="loadData()"></ui-page-panel>
    </div>
    <div class="footer-submit-bar" style="padding-left:100px">
        <el-button type="primary" v-on:click="setSite">切换选中站点</el-button>
        <el-button onclick="closeSelf()">关闭</el-button>
    </div>
</div>

<script type="text/javascript">

    //vue实例化
    var vue = new Vue({
        el: "#main",
        data: {
            id:@ViewBag.CurrentSiteId,
            pageInfo: { PageSize:10, CurrentPage: 1, RecordCount: 0, PageCount: 1 },
            dataList: [],
            queryData: { searchField: "name", searchKeyword: "" },
            options: [{ value: 'name', label: '站点名称' }, { value: 'domain', label: '绑定域名' }, { value: 'directory', label: '站点目录' }],
        },
        methods: {
            loadData: function () {
                loadData();
            },
            setSite: function () {
                var _this = this;
                if (_this.id == 0)
                {
                    _this.$message({
                        message: "请选择要切换的站点！",
                        type: 'error',
                        showClose: true
                    });
                    return;
                }
                _this.ajax({ type: "post", dataType: "text", async: false, url: "@Url.ActionUrl("SetCurrentSite")", data: { id: _this.id } });
                top.location.href = top.location.href;
                closeSelf();
            }
        }
    });

        //加载数据
    function loadData()
    {
        var serverData = extend(vue.pageInfo, vue.queryData);
        vue.ajax({
            url: "@Url.ActionUrl("PageListData")?_byuser=1&_isload=1",
            data: serverData,
            success: function (responseData) {
                if (responseData != "") {
                    vue.dataList = responseData.Data;
                    vue.pageInfo = responseData.PageInfo;
                }
            }
        });
    }
    loadData();
</script>
