<div class="footer text-center">
    <div class="copyright text-center">
        <p> CoprRight&copy; PageAdmin 粤ICP备07048220号</p>
        <p> Powered By <a href="http://www.pageadmin.net" target="_blank"> PageAdmin CMS</a></p>
    </div>
</div>