/*网站基础样式*/
html{-webkit-text-size-adjust:none;width:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{width:100%;word-wrap:break-word;padding:0px 0px 10px 0px;text-align:left;font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;line-height:1.5;color: #666;}
input,select,textarea,button{font-size:100%;outline:none;}
*:focus{outline:none}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}

a{color:#444444;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;}

.clearfix{_height:1%;*zoom:1;}
.clearfix:before,.clearfix:after{content:".";display: block;height: 0;overflow: hidden;visibility: hidden;}
.clearfix:after{clear:both;}
.ui-queryString {display:inline!important;width:auto;}

/*重写bootstrap样式*/
.dropdown .dropdown-menu{padding:0px}
.dropdown-hover .dropdown-menu{margin-top:0px;border-radius:0px;font-size:12px}
.dropdown .caret,.dropdown-toggle .caret{transition:All 0.2s ease-in-out;}
.dropdown:hover .caret,.dropdown-toggle:hover .caret{transform: rotate(-90deg);}
.open .caret{transform: rotate(-90deg);}

/*基础样式*/
body{background-clip:border-box;background-size:100% 100%;}
body .no-top-border{border-top:0px;}
body .no-border{border:0px;}
body .no-margin{margin:0px 0px;}
body .no-padding{padding:0px;}

.tishi{color:#999;}
.tishi .fa{color:chocolate;color:#666}
select.multiple-select{min-height:80px;margin-bottom:5px}
img.thumbnail {
    max-width: 80px;
    max-height: 80px;
    border:0px solid #000000;
}
.text-gray,a.text-gray{color:#999}
.text-content {overflow: hidden;}
.text-content img {max-width: 100%;}

.text-green,.text-green a{color:#46be8a}
.text-blue,.text-blue a{color:dodgerblue}
.text-orange,.text-orange a{color:darkorange}
.text-red,.text-red a{color:crimson}

.success-icon{font-size:20px;color:green;display:inline-block;margin-right:5px;}
.absolute-position{position:absolute}
.relative-position{position:relative}
/*网站当前位置样式*/
.current-location {
    clear: both;
    margin: 0px 10px 10px 10px;
    padding: 0px 5px;
    color: #666666;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    overflow: hidden;
    border-bottom: 0px dashed #ececec;
}
.current-location span{vertical-align:middle;}
.current-location .glyphicon{color:#999;font-size:12px;}
.current-location .glyphicon-home{margin-right:3px}
.current-location a{vertical-align:middle;}
.current-location a:hover{color:#999999;}
.current-location .left{text-align:left;}
.current-location .right{text-align:right;margin-right:0px;}

/*网站主体内容区*/
.main{clear:both;margin:10px 15px 0px 15px;padding-bottom:60px}
.pagearea{text-align:right;margin:0px 0px 5px 0px;padding:2px;border-top:0px}
.footerarea{text-align:left;margin:10px 0px 5px 0px;}
.addarea{clear:both;text-align:left;margin:10px 10px;padding:10px;background-color:#F1F8FC;border:1px solid #CCE6F4;overflow:hidden} /*用于和main同级增加*/
.zhushi{clear:both;text-align:left;margin:5px 10px;padding:5px;color:#999;overflow:hidden} /*用于和main同级的注释*/
ul.nav-tabs{margin-bottom:20px;display:block;}
ul.nav-tabs li.active a{font-weight:bold}


.submit-footerbar{position:fixed;z-index:1000;left:0px;bottom:0px;background-color:#F8F8F8;border-top:1px solid #eeeeee;width:100%;padding:10px 0px 6px 0px}
.submit-footerbar .control-label{position:static!important;width:15px;}
.submit-footerbar .controls{display:inline-block;}
.submit-footerbar .btn{padding:4px 20px;margin-left:5px;border-radius:2px;line-height:1.4;font-size:14px}


/*左侧导航菜单*/
.leftNav {
    background-color: #eeeeee;
    padding: 0px 0px 0px 0px;
    width: 180px
}
.leftNav .leftNav-body{margin-bottom:50px;}
.leftNav ul li{height:35px;line-height:35px;padding:0px 10px;border-bottom:1px solid #dddddd;overflow:hidden}
.leftNav ul li {cursor: pointer;}
.leftNav ul li .fa-angle-down {font-size:12px;transition:transform 0.2s ease-in-out;}
.leftNav ul li:hover,.leftNav ul li.current{background-color:#fff }
.leftNav ul li:hover .fa-angle-down,.leftNav ul li.current .fa-angle-down{transform:rotate(-90deg);}

/*table列表样式*/
.table-condensed{border:1px solid #e0e0e0}
.table thead tr td{border-bottom:0px;background:#eee;}
.table .item:hover > td{background-color:#eeeeee;}
.table td{white-space:normal;word-break: break-all;padding:10px 5px!important;}
.table-condensed td {padding:12px 2px!important;}
.table td.leftNav{padding:0px}

.table .item:hover table td{background-color:#fff}
.table .item .item-detail table{margin-bottom:0px}
.table .item .item-detail table td{border-width:0px;padding:10px!important;}


.tb-head{margin:0px 0px 10px 0px;width:100%;background-color:#fff} /*顶部区域，如搜索*/

.tb-footer{margin-top:5px;width:100%} /*底部区域，如设置*/
.tb-footer td{height:30px;line-height:30px;padding:2px}

.lb_norecods{display:block;height:30px;line-height:30px;padding:2px;} /*无记录span提示*/

.ui-pagePanel .btn{border-radius:0px!important}
.ui-pagePanel .form-control{float:none}
/*内容区常用图标*/
.fa {
    font-size: 14px;
    margin-right: 3px
}
span.fa-folder,span.fa-folder-open{cursor:pointer;color:#999}
span.fa-folder:hover,span.fa-folder-open:hover{color:#666}
span.glyphicon-eye-open{color:#ccc;font-size:11px;visibility:hidden;cursor:pointer}
span.glyphicon-eye-open:hover {color:#999}
.item:hover span.glyphicon-eye-open{visibility:visible}
span.is-0,span.is-{background:url(images/0_1.png) no-repeat left top;width:15px;height:15px;display:inline-block}
span.is-1{background:url(images/0_1.png) no-repeat left bottom;width:15px;height:15px;display:inline-block}
.show-0{display:none}

/*dropdown-menu*/
.btn-group .dropdown-menu{font-size:13px}

/*重写form*/
.form{padding:10px;display:block}
.form-control{font-size:13px;border:1px solid #dddddd}
.form .form-group{position:relative;margin-bottom:5px;clear:both;overflow:hidden;margin-bottom:15px;}
.form .control-label{position:absolute;width:105px;font-weight:normal;text-align:left;left:15px;top:0px;font-size:13px}
.form .form-group .controls{padding-left:120px;width:90%}
.form .form-group .form-inline .form-control{width:auto;display:inline}
.form .form-group .form-inline select.form-control{display:inline}
.form .form-group .controls .laydate-icon,body div .laydate-icon,.laydate-icon{width:170px;}
.form-group textarea{min-height:80px;}
.help-block{color:#999;font-size:13px}


.form .form-group .controls .form-control-xs,.form-group .controls .form-control-xs{width:150px;}
.form .form-group .controls .form-control-sm,.form-group .controls .form-control-sm {width:350px;}
.form .form-group .controls .form-control-md,.form-group .controls .form-control-md{width:650px;}
.form .form-group .controls .form-control-lg,.form-group .controls .form-control-lg {width:1000px;}

.form-lg{min-width:450px}
.form-lg .control-label {width:140px}
.form-lg .form-group .controls{padding-left:160px;}
.controls .form-control option {padding:5px}
