html {
    -webkit-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, th, td, p, blockquote, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0px;
    padding: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

body {
    width: 100%;
    word-wrap: break-word;
    padding: 0px;
    text-align: left;
    font: 13px/1.8 "Microsoft Yahei",Helvetica,Tahoma,NSimSun,Arial\5B8B\4F53;
    color: #444;
}

body {
    background: #4d91e4 url(images/loginBoxBg.png) no-repeat center bottom
}

input, select, textarea, button {
    font-size: 100%;
    outline: none;
}

*:focus {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
li {
    list-style: none;
    *margin-left: -1px
}


span {
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:focus {
        outline: none;
    }

.clearfix {
    _height: 1%;
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .clearfix:after {
        clear: both;
    }

.help-block {
    display: block;
    color: #999999
}

.font-weight-normal {
    font-weight: normal
}

.font-weight-bold {
    font-weight: bold
}
/*网站基础样式*/
/*#main{visibility:hidden}*/

/*登录页*/
.el-form-item {padding: 0px;}
.el-input-group__append {padding: 0px 5px;}
.controls .el-button {display: block;width: 100%;}
.copyright{text-align:center;}
.text-primary {color: #2888e2;}
a.text-primary:hover,
a.text-primary:focus {
    color: #196ebd
}

.form-control {
    border-color: #e0e0e0;
    border-radius: 0px;
    height: 40px;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
}

.input-group-btn .btn {
    padding: 9px 12px;
}


.container {
    max-width: 1100px;
    _width: 1100px;
    margin: 0px auto;
}

.form-group {
    margin-left: 0px;
    margin-right: 0px;
}

    .form-group .btn-verificationCodeImg {
        padding: 0px;
        width: 100px;
        height: 40px;
        vertical-align: central;
        border-radius: 0px;
        overflow: hidden
    }

        .form-group .btn-verificationCodeImg img {
            border-radius: 5px
        }

    .form-group .controls .box-verificationCodeImg {
        display: block;
        position: absolute;
        right: 2px;
        top: 5px;
        width: 110px;
        text-align: center;
    }

    .form-group .controls-submit {
        padding-top: 20px;
    }


/*登录注册界面样式*/
.logo-media {
    background: url(images/Loginlogo.png) no-repeat center center;
    width: 100%;
    height: 40px;
}
.loginBox {max-width: 500px;_width: 500px;margin: 0px auto;}
.loginBox > .header {padding: 20px 0px;color: #fff}
.loginBox > .header a {color: #fff}
.content-box {background-color: #fff;padding: 30px 40px 50px 40px;margin-top:10px;border-radius: 5px;overflow: hidden;}
.content-box .login-sign {text-align:left;margin-top:0px;height: 40px;line-height: 40px;margin-top:30px;color: #666666;font-size: 16px;font-weight:500;}
.content-box .form-group {margin-bottom: 20px}
.content-box .btn-submit {color: #fff;font-size: 16px}
.content-box .cookbox {height: 30px;line-height: 30px}
.content-box .cookbox label {font-weight: normal;}

.content-box .quickLogin {padding-top:0px;margin-bottom:0px;}
.content-box .quickLogin .name {color: #999999;}
.content-box .quickLogin h5{font-size:14px;font-weight:normal;}
.content-box .quickLogin .quick-login-icon {display: inline-block;width: 40px;height: 40px;margin-right: 0px;text-align: center;}
.qq-icon {background: url(images/login/icon_qq.png) no-repeat center center;}
.weixin-icon {background: url(images/login/icon_weixin.png) no-repeat center center;}
.alipay-icon {background: url(images/login/icon_alipay.png) no-repeat center center;}

/*登录弹出窗口*/
.qucik-login-win {background: none}
.qucik-login-win .loginBox {max-width: none;_width: auto;padding: 0px;}
.qucik-login-win .content-box {margin-top: 0px;padding-bottom: 0px}
.qucik-login-win .content-box .login-sign {margin-top: 0px;margin-bottom:15px;}
.qucik-login-win .form-group {margin-bottom: 15px}
.qucik-login-win .form-group .controls-submit {padding-top: 0px;}
.qucik-login-win a.closeBtn {color: #999;display: block;position: absolute;top: 10px;
right: 20px;width: 100px;height: 50px;font-size: 20px;cursor: pointer;text-align: right}
.qucik-login-win a.closeBtn:hover {color: #333;text-decoration: none}


/*注册界面 >> 会员组选择区域*/
.regBox {
    max-width: 600px;
    _width: 600px;
}

    .regBox .reg-member-group {
        padding:20px 0px 10px 0px;
    }


/*注册成功界面*/
.reg-successBox {
    max-width: 600px;
    _width: 600px;
    margin: 0px auto;
}

    .reg-successBox .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        color: #5fc643;
        font-size: 60px;
    }

    .reg-successBox h2 {
        font-weight: bold;
        font-size: 18px;
        white-space: normal;
        color: #666;
        line-height: 140%
    }

    .reg-successBox .text-remark {
        text-align: left;
        color: #999;
        font-size: 14px;
        padding: 20px 0px;
        line-height: 25px;
    }


.findPass .media {
    padding: 20px 0px
}

/*底部*/
.footer {
    width: 100%
}

    .footer .copyright {
        padding-top: 20px;
        color: #efefef;
        padding-bottom:20px;
    }

        .footer .copyright a {
            color: #efefef
        }


/**/
.cxform .el-form--label-top .el-form-item__label {padding:0px;}
.cxform .el-form-item {margin-bottom:0px;}

.button-spacing{padding-top:20px;padding-bottom:15px;}
