/*顶部信息*/
.account-info {
    padding: 20px 20px 50px 20px;
    position: relative;
    border-bottom: 0px solid #ececec;
    background-color: #fff;
}
.account-info .account-left {
        float: left;
        height:60px;
        width:80px;
        margin-top:20px
    }
  .account-info .account-left .fa{font-size:60px;line-height:60px;color:deepskyblue}
  .account-info .account-body {
        float: left;
        overflow:hidden;
    }
    .account-info .account-body h4{
       font-weight:500;font-size: 16px;line-height:30px;
    }
        .account-info .account-body h4 small{
       font-size:12px;color:#999
    }
.account-info .account-body p{line-height:30px;margin:0px}
.account-info .account-body p.security {font-size:12px;}
.account-info .account-body p .fa{margin-right:10px;color: #53C58C}
.account-info .account-body p .fa-2{font-size:20px}
.account-info .account-body p .no-bind{color:#FA7A1C}

/*安全信息*/
.security-info {margin:10px 10px 0px 10px;}
.security-info .fa-check{font-size:20px;color: #53C58C}
.security-info .fa-close{font-size:20px;color:#FA7D21}
.security-info table tr td{padding:15px 0px;}
.security-info tr{border-bottom:1px dashed #cccccc}






