/*默认框架样式*/
._layout_frame{
    position: relative;
    height: 100%;
    width: 100%;
}
._layout_frame_left_area {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 190px;
    height: 100%;
    background-color: #EAEDF1;
}
._layout_frame_middel_btn {
    position: absolute;
    width: 15px;
    top:350px;
    left: 175px;
    z-index: 2;
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    cursor: pointer
}
._layout_frame_middel_btn .fa {
        font-size: 15px;
    }
    ._layout_frame ._layout_frame_middel_btn_shut {
        background-color: #EAEDF1;
        border-radius: 0px 10px 10px 0px;
        left: 0px
    }
    ._layout_frame ._layout_frame_middel_btn_shut .fa {
        transform: rotate(180deg);
    }

._layout_frame_right_area {
    padding:10px 10px 10px 190px;
    overflow-y:scroll;
}

._layout_frame_right_area_full{
    padding-left: 0px
}


/*菜单样式*/
._layout_frame_menu {}

    ._layout_frame_menu label {
        height: 50px;
        line-height: 50px;
        background: #D9DEE4;
        padding-left: 15px;
        display: block;
        margin:0px;
    }

    ._layout_frame_menu div ._layout_frame_menu_sort {
        height: 35px;
        line-height: 35px;
        padding-left: 30px;
        display: block;
        position: relative;
        cursor: pointer;
    }

    ._layout_frame_menu div ._layout_frame_menu_sort .fa {
        font-size: 14px;
    }
    ._layout_frame_menu div ._layout_frame_menu_sort b.caret {
        position: absolute;
        left: 15px;
        top: 15px;
        border-width: 5px;
        transform: rotate(-90deg);
    }

    ._layout_frame_menu div ._menu_shut_sort b.caret {
        transform: rotate(0deg);
    }

    ._layout_frame_menu div ul li {
        padding-left: 30px;
    }
._layout_frame_menu div ul li:hover, ._layout_frame_menu div ._layout_frame_menu_sort:hover, ._layout_frame_menu div ul li._menu_current {
    background-color: #fff
}
._layout_frame_menu div ul li a {
    height: 35px;
    line-height: 35px;
    display: block;
}
