@{
    Layout = "~/Areas/Member/Views/_LoginLayoutPage.cshtml";
    ViewBag.Title = "重设账户成功";
}
<div class="container" id="findPassword">
    <div class="reg-successBox" id="loginbox">
        <div class="content-box">
            <div class="row clearfix">
                <div class="col-md-2 col-xs-12"><i class="glyphicon glyphicon-ok-sign icon"></i></div>
                <div class="col-md-10 col-xs-12">
                    <h2 class="text-left">恭喜您，账户密码重新设置成功！</h2>
                </div>
            </div>
            <div class="text-remark">
                <p>
                    您的会员账号是：<span class="text-danger">@Request.QueryString["username"]</span>
                </p>
                <p> 如果您的邮箱或手机通过了验证，也可以通过账号绑定的邮箱或手机登录。</p>
            </div>
            <div class="controls controls-submit">
                <el-button type="primary" style="width:auto;" onclick="location.href='@Url.ActionUrl("Index","Login")'">转到登录页面</el-button>
            </div>
        </div>
    </div>
</div>
<script>
    var vue = new Vue({
        el: "#findPassword",
        data: {
        },
        methods: {
        },
    });
    function init() {
        var $body = document.querySelector("body");
        var winHeight = clientSize().height;
        var $loginBox = document.querySelector("#loginbox");
        var mHeight = $loginBox.offsetHeight;
        var topMargin = parseInt(winHeight / 2) - parseInt(mHeight / 2) - 40;
        if (topMargin <= 10) {
            topMargin = 10;
        }
        $loginBox.style.marginTop = topMargin + "px";  
    }
    document.ready(function () {
        init()
    });
    window.onresize = init;
</script>



