@{
    Dictionary<string, string> param = (Dictionary<string, string>)Model;
    string table = param["Table"];
    string ids= param["Ids"];
    int count = 0;
    IEnumerable<dynamic> dataList = null;
    if(!string.IsNullOrEmpty(ids))
    {
        ids = StringHelper.Unique<int>(ids);
        dataList = Html.InfoDataList(new { Table = table, OrderBy = "thedate desc"}, "id in("+ ids+")");
        count = dataList.Count();
    }
}
@if (count > 0)
{
    <div class="padding-top-20 padding-bottom-20">
        <div class="text-yellow line-height-3 font-size-16">相关文档</div>
        <div class="row">
            @foreach (var item in dataList)
            {
                string url = Html.InfoDataUrl((int)item.ColumnId, (int)item.Id);
                <div class="item col-xs-12 col-md-6 line-height-2">
                 <a href="@url" target="_blank" class="title text-overflow-ellipsis"><i class="fa fa-angle-right"></i> @item.Title</a>
                </div>
            }
        </div>
    </div>
}
